<div class="card col-md-12 col-lg-12">
    <h4 class="form-head">Special Reward</h4>
    <div class="row mt-3">
        <div class="col-md-12">
            <!-- <mat-tab-group (selectedTabChange)="setTabName($event)" > -->
            <mat-tab-group (selectedTabChange)="setTabName($event)" [selectedIndex]="tabIndex">
                <mat-tab label="Value wise" [disabled]='!isValueActive'>
                    <div class="row mt-3">
                        <div class="col-md-3">
                            <mat-form-field>
                                <input matInput (click)="valuedate.open()" readonly [matDatepicker]="valuedate" placeholder="From Date" [(ngModel)]="fromDate6">
                                <mat-datepicker-toggle matSuffix [for]="valuedate"></mat-datepicker-toggle>
                                <mat-datepicker #valuedate></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field>
                                <input matInput (click)="valuedate1.open()" readonly [matDatepicker]="valuedate1" placeholder="To Date" [(ngModel)]="toDate6">
                                <mat-datepicker-toggle matSuffix [for]="valuedate1"></mat-datepicker-toggle>
                                <mat-datepicker #valuedate1></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-select placeholder="Select Area" [(ngModel)]="areaType6" (ngModelChange)="getAreas()">
                                    <mat-option [value]="'branch'">Branch</mat-option>
                                    <!-- <mat-option [value]="'territory'">Territory</mat-option>
                                    <mat-option [value]="'zone'">Zone</mat-option> -->
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <!-- <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                                <mat-select placeholder="Select" multiple [(ngModel)]="lstArea6">
                                    <mat-option *ngFor="let area of lstArea6" [value]="area.pk_bint_id">{{area.vchr_name | titlecase}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div> -->

                        <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                                <mat-select placeholder="Select" multiple [(ngModel)]="lstArea6">
                                    <mat-option *ngFor="let area of lstAreas" [value]="area.pk_bint_id">{{area.vchr_name | titlecase}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        

                        
                        <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                                <input id="rewardId" matInput [(ngModel)]="rewardName6" placeholder="Reward Name">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group mt-4">
                                <label><b>Reward 1 : </b></label>
                                <input class="specl_input" type="number" [(ngModel)]="reward1_6">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group mt-4">
                                <label><b>Reward 2 : </b></label>
                                <input class="specl_input" type="number" [(ngModel)]="reward2_6">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group mt-4">
                                <label><b>Reward 3 : </b></label>
                                <input class="specl_input" type="number" [(ngModel)]="reward3_6">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-select placeholder="Select Type" [(ngModel)]="selectType6" [disabled]="blnAddValue" (ngModelChange)="setMapType()">
                                    <mat-option [value]="'productType'">Product</mat-option>
                                    <mat-option [value]="'brandType'">Brand</mat-option>
                                    <mat-option [value]="'itemType'">Item</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-12 mt-3">
                            <div id="table" class="table-editable">
                                <button (click)="addValue()" id="add_button" title="Add" mat-mini-fab color="primary" class="float-right" style="top: 10px !important;background-color: #05a781 !important;">
                      <mat-icon>add</mat-icon>
                    </button>
                                <table class="table table-responsive table-bordered">
                                    <thead style="background-color: #eaeef3;">
                                        <tr>
                                            <th class="text-left" *ngIf="selectType6=='productType'" rowspan="2">Product</th>
                                            <th class="text-left" *ngIf="selectType6=='brandType'" rowspan="2">Brand</th>
                                            <th class="text-left" *ngIf="selectType6=='itemType'" rowspan="2">Item</th>
                                            <!-- <th class="text-center" colspan="2">Amount</th> -->
                                            <th class="text-center" rowspan="2">On MOP</th>
                                            <th class="text-center" rowspan="2" style="width: 150px;">To</th>
                                            <th class="text-center" colspan="2" style="border-bottom: 1px solid #dedddd;">Rewards 1</th>
                                            <th class="text-center" colspan="2" style="border-bottom: 1px solid #dedddd;">Rewards 2</th>
                                            <th class="text-center" colspan="2" style="border-bottom: 1px solid #dedddd;">Rewards 3</th>
                                            <th class="text-center" rowspan="2">Action</th>
                                        </tr>
                                        <tr>
                                            <!-- <th class="text-center subhead">From</th>
                      <th class="text-center subhead">To</th> -->
                                            <th class="text-center subhead">%</th>
                                            <th class="text-right subhead">Amt.</th>
                                            <th class="text-center subhead">%</th>
                                            <th class="text-right subhead">Amt.</th>
                                            <th class="text-center subhead">%</th>
                                            <th class="text-right subhead">Amt.</th>
                                        </tr>


                                    </thead>
                                    <tbody>

                                        <tr *ngFor="let value of lstValues; let i=index">

                                            <td class="text-left" *ngIf="selectType6=='productType'">
                                                <mat-form-field>
                                                    <input matInput placeholder="Product" [(ngModel)]="lstValues[i]['strTypeName']" name="product" [matAutocomplete]="product" #idProduct (keyup)="productSearched(lstValues[i]['strTypeName'],$event)">
                                                    <mat-autocomplete #product="matAutocomplete">
                                                        <mat-option *ngFor="let products of lstProducts" [value]="products.name" (onSelectionChange)="ProductChanged(products,i)">
                                                            {{ products.name }}
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                </mat-form-field>
                                            </td>
                                            <td class="text-left" *ngIf="selectType6=='brandType'">
                                                <mat-form-field>
                                                    <input matInput placeholder="Brand" [(ngModel)]="lstValues[i]['strTypeName']" name="brand" [matAutocomplete]="brand" #idBrand (keyup)="brandSearched(lstValues[i]['strTypeName'],$event)">
                                                    <mat-autocomplete #brand="matAutocomplete">
                                                        <mat-option *ngFor="let brands of lstBrands" [value]="brands.name" (onSelectionChange)="BrandChanged(brands,i)">
                                                            {{ brands.name }}
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                </mat-form-field>
                                            </td>
                                            <td class="text-left" *ngIf="selectType6=='itemType'">
                                                <mat-form-field>
                                                    <!-- (input)="checkProduct(i)" -->
                                                    <input matInput placeholder="Item" [(ngModel)]="lstValues[i]['strTypeName']" name="item" [matAutocomplete]="item" #idItem (keyup)="itemSearched(lstValues[i]['strTypeName'],$event)">
                                                    <mat-autocomplete #item="matAutocomplete">
                                                        <mat-option *ngFor="let item of lstItems" [value]="item.name" (onSelectionChange)="ItemChanged(item,i)">
                                                            {{ item.name }}
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                </mat-form-field>

                                            </td>
                                            <!--
                      <td class="text-center">
                        <input matInput type="number" [(ngModel)]="lstValues[i]['fromAmt']">
                      </td>
                      <td> -->
                                            <!-- <input matInput type="number" [(ngModel)]="lstValues[i]['toAmt']">
                      </td> -->
                                            <td class="text-center" contenteditable="false">
                                                <mat-checkbox [disabled]="true" [(ngModel)]="lstValues[i]['reward_mop']"></mat-checkbox>
                                            </td>

                                            <td class="text-center" contenteditable="false">
                                                <mat-select placeholder="Select" [(ngModel)]="lstValues[i]['reward_to']">
                                                    <mat-option [value]="1">All Sales Men</mat-option>
                                                    <!-- <mat-option [value]="2">Promoter</mat-option> -->
                                                    <mat-option [value]="3">Non-promoter</mat-option>
                                                    <mat-option [value]="4">Ass.Branch Manager</mat-option>
                                                    <mat-option [value]="5">Branch Manager</mat-option>
                                                    <mat-option [value]="6">Territory Manager</mat-option>
                                                    <mat-option [value]="7">Zone Manager</mat-option>
                                                    <mat-option [value]="8">Product Manager</mat-option>
                                                    <mat-option [value]="9">B TEAM</mat-option>
                                                    <mat-option [value]="10">Service Engineer</mat-option>



                                                </mat-select>
                                            </td>
                                            <td class="text-center">
                                                <input matInput type="number" [(ngModel)]="lstValues[i]['slab1_percentage']">
                                            </td>
                                            <td class="text-right">
                                                <input matInput type="number" [(ngModel)]="lstValues[i]['slab1_amount']">
                                            </td>
                                            <td class="text-center">
                                                <input matInput type="number" [(ngModel)]="lstValues[i]['slab2_percentage']">
                                            </td>
                                            <td class="text-right">
                                                <input matInput type="number" [(ngModel)]="lstValues[i]['slab2_amount']">
                                            </td>
                                            <td class="text-center">
                                                <input matInput type="number" [(ngModel)]="lstValues[i]['slab3_percentage']">
                                            </td>
                                            <td class="text-right">
                                                <input matInput type="number" [(ngModel)]="lstValues[i]['slab3_amount']">
                                            </td>
                                            <td class="text-center">
                                                <button class="delete_btn" (click)="deleteData(i)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                
                <mat-tab label="Price Brand wise" [disabled]='!isPriceActive'>
                    <div class="row mt-3">
                        <div class="col-md-3">
                            <mat-form-field>
                                <input matInput (click)="priceband.open()" readonly [matDatepicker]="priceband" placeholder="From Date" [(ngModel)]="fromDate7">
                                <mat-datepicker-toggle matSuffix [for]="priceband"></mat-datepicker-toggle>
                                <mat-datepicker #priceband></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field>
                                <input matInput (click)="priceband1.open()" readonly [matDatepicker]="priceband1" placeholder="To Date" [(ngModel)]="toDate7">
                                <mat-datepicker-toggle matSuffix [for]="priceband1"></mat-datepicker-toggle>
                                <mat-datepicker #priceband1></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-select placeholder="Select Area" [(ngModel)]="areaType7" (ngModelChange)="getAreas()">
                                    <mat-option [value]="'branch'">Branch</mat-option>
                                    <!-- <mat-option [value]="'territory'">Territory</mat-option>
                                    <mat-option [value]="'zone'">Zone</mat-option> -->
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                                <mat-select placeholder="Select" multiple [(ngModel)]="lstArea7">
                                    <mat-option *ngFor="let area of lstAreas" [value]="area.pk_bint_id">{{area.vchr_name | titlecase}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                                <input id="rewardId" matInput [(ngModel)]="rewardName7" placeholder="Reward Name">
                            </mat-form-field>
                        </div>
                        <!-- <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                                <input matInput [(ngModel)]="reward1_7" type="number" placeholder="Reward1 %">
                            </mat-form-field>
                        </div> -->
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-select placeholder="Select Type" [(ngModel)]="selectType7" [disabled]="blnAddPrice" (ngModelChange)="setMapType()">
                                    <mat-option [value]="'productType'">Product</mat-option>
                                    <mat-option [value]="'brandType'">Brand</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field>
                                <mat-select placeholder="Select Type" [(ngModel)]="priceType" (ngModelChange)="showRewards()">
                                    <mat-option [value]="'priceband'">Priceband</mat-option>
                                    <mat-option [value]="'pricebandgrowth'">Priceband Growth</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div *ngIf="showReward">
                            <div class="col-md-3">
                                <div class="form-group mt-4">
                                    <label><b>Reward 1 : </b></label>
                                    <input class="specl_input" type="number" [(ngModel)]="reward1_7">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mt-4">
                                    <label><b>Reward 2 : </b></label>
                                    <input class="specl_input" type="number" [(ngModel)]="reward2_7">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mt-4">
                                    <label><b>Reward 3 : </b></label>
                                    <input class="specl_input" type="number" [(ngModel)]="reward3_7">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mt-4">
                                    <label><b>Reward 4 : </b></label>
                                    <input class="specl_input" type="number" [(ngModel)]="reward4_7">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group mt-4">
                                    <label><b>Reward 5 : </b></label>
                                    <input class="specl_input" type="number" [(ngModel)]="reward5_7">
                                </div>
                            </div>
                        </div>
                      

                        <div class="col-md-12 mt-3">
                            <div id="table" class="table-editable">
                                <button (click)="addPriceBand()" id="add_button" title="Add" mat-mini-fab color="primary" class="float-right" style="top: 10px !important;background-color: #05a781 !important;">
                          <mat-icon>add</mat-icon>
                        </button>
                                <table class="table table-responsive table-bordered">
                                    <thead style="background-color: #eaeef3;">
                                        <tr>
                                            <th class="text-left" *ngIf="selectType7=='productType'" rowspan="2">Product</th>
                                            <th class="text-left" *ngIf="selectType7=='brandType'" rowspan="2">Brand</th>
                                            <th class="text-center" colspan="2">Amount</th>
                                            <th class="text-center" rowspan="2">On MOP</th>
                                            <th class="text-center" rowspan="2" style="width: 150px;">To</th>
                                            <th class="text-center" colspan="2" style="border-bottom: 1px solid #dedddd;">Rewards 1</th>
                                            <th class="text-center" colspan="2" style="border-bottom: 1px solid #dedddd;" *ngIf="showReward">Rewards 2</th>
                                            <th class="text-center" colspan="2" style="border-bottom: 1px solid #dedddd;" *ngIf="showReward">Rewards 3</th>
                                            <th class="text-center" colspan="2" style="border-bottom: 1px solid #dedddd;" *ngIf="showReward">Rewards 4</th>
                                            <th class="text-center" colspan="2" style="border-bottom: 1px solid #dedddd;" *ngIf="showReward">Rewards 5</th>
                                            <th class="text-center" rowspan="2" style="border-bottom: 1px solid #dedddd;">Action</th>
                                        </tr>
                                        <tr>
                                            <th class="text-center subhead">From</th>
                                            <th class="text-center subhead">To</th>
                                            <th class="text-center subhead">%</th>
                                            <th class="text-right subhead">Amt.</th>
                                            <th class="text-center subhead" *ngIf="showReward">%</th>
                                            <th class="text-right subhead" *ngIf="showReward">Amt.</th>
                                            <th class="text-center subhead" *ngIf="showReward">%</th>
                                            <th class="text-right subhead" *ngIf="showReward">Amt.</th>
                                            <th class="text-center subhead" *ngIf="showReward">%</th>
                                            <th class="text-right subhead" *ngIf="showReward">Amt.</th>
                                            <th class="text-center subhead" *ngIf="showReward">%</th>
                                            <th class="text-right subhead" *ngIf="showReward">Amt.</th>
                                        </tr>


                                    </thead>
                                    <tbody>

                                        <tr *ngFor="let value of lstPriceBand; let i=index">

                                            <td class="text-left" *ngIf="selectType7=='productType'">
                                                <mat-form-field>
                                                    <input matInput placeholder="Product" [(ngModel)]="lstPriceBand[i]['strTypeName']" name="product" [matAutocomplete]="product" #idProduct (keyup)="productSearched(lstPriceBand[i]['strTypeName'],$event)">
                                                    <mat-autocomplete #product="matAutocomplete">
                                                        <mat-option *ngFor="let products of lstProducts" [value]="products.name" (onSelectionChange)="ProductChanged(products,i)">
                                                            {{ products.name }}
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                </mat-form-field>
                                            </td>
                                            <td class="text-left" *ngIf="selectType7=='brandType'">
                                                <mat-form-field>
                                                    <input matInput placeholder="Brand" [(ngModel)]="lstPriceBand[i]['strTypeName']" name="brand" [matAutocomplete]="brand" #idBrand (keyup)="brandSearched(lstPriceBand[i]['strTypeName'],$event)">
                                                    <mat-autocomplete #brand="matAutocomplete">
                                                        <mat-option *ngFor="let brands of lstBrands" [value]="brands.name" (onSelectionChange)="BrandChanged(brands,i)">
                                                            {{ brands.name }}
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                </mat-form-field>
                                            </td>
                                            <td class="text-center minwidth">
                                                <input matInput type="number" [(ngModel)]="lstPriceBand[i]['fromAmt']">
                                            </td>
                                            <td class="text-center minwidth">
                                                <input matInput type="number" [(ngModel)]="lstPriceBand[i]['toAmt']">
                                            </td>
                                            <td class="text-center" contenteditable="false">
                                                <mat-checkbox [(ngModel)]="lstPriceBand[i]['reward_mop']"></mat-checkbox>
                                            </td>

                                            <td class="text-center" contenteditable="false">
                                                <mat-select placeholder="Select" [(ngModel)]="lstPriceBand[i]['reward_to']">
                                                    <mat-option [value]="1">All Sales Men</mat-option>
                                                    <!-- <mat-option [value]="2">Promoter</mat-option> -->
                                                    <mat-option [value]="3">Non-promoter</mat-option>
                                                    <mat-option [value]="4">Ass.Branch Manager</mat-option>
                                                    <mat-option [value]="5">Branch Manager</mat-option>
                                                    <mat-option [value]="6">Territory Manager</mat-option>
                                                    <mat-option [value]="10">Service Engineer</mat-option>

                                                </mat-select>
                                            </td>
                                            <td class="text-center  minwidth1">
                                                <input matInput type="number" [(ngModel)]="lstPriceBand[i]['slab1_percentage']">
                                            </td>
                                            <td class="text-right">
                                                <input matInput type="number" [(ngModel)]="lstPriceBand[i]['slab1_amount']">
                                            </td>
                                            <td class="text-center  minwidth1" *ngIf="showReward">
                                                <input matInput type="number" [(ngModel)]="lstPriceBand[i]['slab2_percentage']">
                                            </td>
                                            <td class="text-right" *ngIf="showReward">
                                                <input matInput type="number" [(ngModel)]="lstPriceBand[i]['slab2_amount']">
                                            </td>
                                            <td class="text-center  minwidth1" *ngIf="showReward">
                                                <input matInput type="number" [(ngModel)]="lstPriceBand[i]['slab3_percentage']">
                                            </td>
                                            <td class="text-right" *ngIf="showReward">
                                                <input matInput type="number" [(ngModel)]="lstPriceBand[i]['slab3_amount']">
                                            </td>
                                            <td class="text-center  minwidth1" *ngIf="showReward">
                                                <input matInput type="number" [(ngModel)]="lstPriceBand[i]['slab4_percentage']">
                                            </td>
                                            <td class="text-right" *ngIf="showReward">
                                                <input matInput type="number" [(ngModel)]="lstPriceBand[i]['slab4_amount']">
                                            </td>
                                            <td class="text-center  minwidth1" *ngIf="showReward">
                                                <input matInput type="number" [(ngModel)]="lstPriceBand[i]['slab5_percentage']">
                                            </td>
                                            <td class="text-right" *ngIf="showReward">
                                                <input matInput type="number" [(ngModel)]="lstPriceBand[i]['slab5_amount']">
                                            </td>
                                            <td class="text-center">
                                                <button class="delete_btn" (click)="deleteData(i)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </mat-tab>

                <!-- turnover rewards -->
                <mat-tab label="Turnover wise" [disabled]='!isTurnActive'>
                    <div class="row mt-3">
                        <div class="col-md-3">
                            <mat-form-field>
                                <input matInput (click)="turnoverdate.open()" readonly [matDatepicker]="turnoverdate" placeholder="From Date" [(ngModel)]="fromDate4">
                                <mat-datepicker-toggle matSuffix [for]="turnoverdate"></mat-datepicker-toggle>
                                <mat-datepicker #turnoverdate></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field>
                                <input matInput (click)="turnoverdate1.open()" readonly [matDatepicker]="turnoverdate1" placeholder="To Date" [(ngModel)]="toDate4">
                                <mat-datepicker-toggle matSuffix [for]="turnoverdate1"></mat-datepicker-toggle>
                                <mat-datepicker #turnoverdate1></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Select Branch" [(ngModel)]="branch_name" name="branch" [matAutocomplete]="branch" #idBranch (ngModelChange)="branchSearched(branch_name)">
                                <mat-autocomplete #branch="matAutocomplete">
                                    <mat-option *ngFor="let branchs of lstBranchs" [value]="branchs.name" (onSelectionChange)="BranchChanged(branchs)">
                                        {{ branchs.name }}
                                    </mat-option>
                                </mat-autocomplete>

                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                                <input matInput [(ngModel)]="rewardName4" placeholder="Reward Name">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group mt-4">
                                <label><b>Reward 1 : </b></label>
                                <input class="specl_input" type="number" [(ngModel)]="reward1_4">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group mt-4">
                                <label><b>Reward 2 : </b></label>
                                <input class="specl_input" type="number" [(ngModel)]="reward2_4">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group mt-4">
                                <label><b>Reward 3 : </b></label>
                                <input class="specl_input" type="number" [(ngModel)]="reward3_4">
                            </div>
                        </div>
                        <div class="col-md-12 mt-3">
                            <div id="table" class="table-editable">
                                <button id="add_button" (click)="addTurnover()" title="Add" mat-mini-fab color="primary" class="float-right" style="top: 10px !important;">
                            <mat-icon>add</mat-icon>
                            </button>
                                <table class="table table-responsive table-bordered">
                                    <thead style="background-color: #eaeef3;">
                                        <tr>
                                            <!-- <th class="text-center" colspan="2">Amount</th> -->
                                            <th class="text-center" rowspan="2">On MOP</th>
                                            <th class="text-center" rowspan="2">Base Amount</th>
                                            <th class="text-center" rowspan="2" style="width: 150px;">To</th>
                                            <th class="text-center" colspan="2">Rewards 1</th>
                                            <th class="text-center" colspan="2">Rewards 2</th>
                                            <th class="text-center" colspan="2">Rewards 3</th>
                                            <th class="text-center" rowspan="2">Action</th>
                                        </tr>
                                        <tr>
                                            <!-- <th class="text-center subhead">From</th> -->
                                            <!-- <th class="text-center subhead">To</th> -->
                                            <th class="text-center subhead">%</th>
                                            <th class="text-right subhead">Amt.</th>
                                            <th class="text-center subhead">%</th>
                                            <th class="text-right subhead">Amt.</th>
                                            <th class="text-center subhead">%</th>
                                            <th class="text-right subhead">Amt.</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr *ngFor="let value of lstTurnover; let i=index">

                                            <!-- <td class="text-center">
                                            <input matInput type="number" [(ngModel)]="lstTurnover[i]['fromAmt']">
                                        </td> -->
                                            <!-- <td>
                                            <input matInput type="number" [(ngModel)]="lstTurnover[i]['toAmt']">
                                        </td> -->
                                            <td class="text-center" contenteditable="false">
                                                <mat-checkbox [(ngModel)]="lstTurnover[i]['reward_mop']"></mat-checkbox>
                                            </td>
                                            <td class="text-center">
                                                <input matInput type="number" [(ngModel)]="lstTurnover[i]['toAmt']">
                                            </td>

                                            <td class="text-center" contenteditable="false">
                                                <mat-select placeholder="Select" [(ngModel)]="lstTurnover[i]['reward_to']">
                                                        <mat-option [value]="1">All Sales Men</mat-option>
                                                        <!-- <mat-option [value]="2">Promoter</mat-option> -->
                                                        <mat-option [value]="3">Non-promoter</mat-option>
                                                        <mat-option [value]="4">Ass.Branch Manager</mat-option>
                                                        <mat-option [value]="5">Branch Manager</mat-option>
                                                        <mat-option [value]="6">Territory Manager</mat-option>
                                                        <mat-option [value]="7">Zone Manager</mat-option>
                                                        <mat-option [value]="8">Product Manager</mat-option>
                                                        <mat-option [value]="9">B TEAM</mat-option>
                                                        <mat-option [value]="10">Service Engineer</mat-option>
                                                </mat-select>
                                            </td>
                                            <td class="text-center">
                                                <input matInput type="number" [(ngModel)]="lstTurnover[i]['slab1_percentage']">
                                            </td>
                                            <td class="text-right">
                                                <input matInput type="number" [(ngModel)]="lstTurnover[i]['slab1_amount']">
                                            </td>
                                            <td class="text-center">
                                                <input matInput type="number" [(ngModel)]="lstTurnover[i]['slab2_percentage']">
                                            </td>
                                            <td class="text-right">
                                                <input matInput type="number" [(ngModel)]="lstTurnover[i]['slab2_amount']">
                                            </td>
                                            <td class="text-center">
                                                <input matInput type="number" [(ngModel)]="lstTurnover[i]['slab3_percentage']">
                                            </td>
                                            <td class="text-right">
                                                <input matInput type="number" [(ngModel)]="lstTurnover[i]['slab3_amount']">
                                            </td>
                                            <td class="text-center">
                                                <button class="delete_btn" (click)="deleteData(i)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <!-- turnover rewards -->
            </mat-tab-group>
            <button *ngIf="caption=='save'" (click)="saveDetails()" class="mat-raised-button mat-accent mt-4">
        SAVE
      </button>
            <button *ngIf="caption=='edit'" (click)="saveDetails()" mat-raised-button class="add_btn mt-4" style="background: #5dade0;color:#fff;">
        UPDATE
        </button>
            <button (click)="clearFields()" class="mat-raised-button cancel_btn mt-4">
        Cancel
      </button>
        </div>
    </div>
</div>