.table-bordered th, .table-bordered td {
    border: 1px solid #dedddd;
    vertical-align: middle;
}
.table-bordered thead th, .table-bordered thead td {
    color: #566b86;
    vertical-align: middle;
}
.minwidth{
    min-width:80px !important;
}
.minwidth1{
    min-width:40px !important;
}



body {
    background: #eaeef3 !important;
}

@media (min-width: 1200px) {
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9 {
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9 {
        float: left;
    }
}

@media (min-width: 768px) {
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9 {
        float: left;
    }
}

.additional-info a {
    color: #7d7575;
}

.additional-info {
    margin: 10px 0px 0px !important;
    background: none !important;
    padding: 0px !important;
}

h4 {
    color: #2a496b !important;
    margin-bottom: 5px !important;
    margin-top: 5px !important;
}

h6 {
    margin-bottom: 5px !important;
    margin-top: 5px !important;
}

label {
    color: #909090 !important;
}

#loginn label {
    color: #ffffffb8 !important
}

button {
    cursor: pointer;
}


/*
.addition-navbar {
  display: none !important;
} */

.mat-checkbox {
    margin-top: 10px;
}

.m_t_25 {
    margin-top: 25px !important;
}

#addsupplier .mat-checkbox {
    margin-top: 10px !important;
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

sidebar {
    background: #2e3d50 !important;
}

logo {
    border-bottom: 1px solid #637388;
}

.mb-module {
    margin-bottom: 5px !important;
    padding: 5px !important;
}

.padd_l_r {
    padding-left: 15px;
    padding-right: 15px;
}


/* .item-link{background: #33455a !important;} */

.main-menu>ul .menu-item.active>.item-link {
    background: #33455a !important;
}

.form-head {
    margin-top: 1px;
    font-size: 16px;
    text-shadow: 0px 0px;
    margin-bottom: 7px;
    color: #fa6163;
    padding: 10px 15px 10px 15px;
    background-color: rgb(233, 235, 239);
    border-radius: 4px;
}

.form-head1 {
    font-size: 13px;
}

.mat-checkbox-frame {
    border-color: #d8d8d8 !important;
}

.cancel_btn {
    left: 10px;
    background-color: rgba(0, 0, 0, .12) !important;
}

body .mat-radio-group .mat-radio-button {
    padding-bottom: 0.30em;
}

.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
    background: rgba(198, 200, 202, 0.44) !important;
    color: #827b7b !important;
}

.mat-option.mat-active {
    background: rgba(198, 200, 202, 0.44) !important;
    color: #827b7b !important;
}

.mat-option:hover:not(.mat-option-disabled),
.mat-option:focus:not(.mat-option-disabled) {
    background: rgb(108, 145, 189) !important;
    color: #fff !important;
}

.card-wrap {
    background-color: #fff;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #fff;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25);
    position: relative;
}

.card-wrap .card-header {
    margin: 0px 0px 0 0px !important;
    padding: 10px !important;
    background: #6384a9 !important;
}

.mat-mini-fab {
    top: -1px !important;
    line-height: 26px !important;
    height: 25px !important;
    width: 25px !important;
    font-size: 20px !important;
}

.mat-mini-fab .mat-icon {
    top: -7px !important;
    font-size: 19px !important;
    font-family: 'Material Icons' !important;
}

.mat-tab-label {
    background: #eee;
    color: #2e3d50 !important;
    opacity: 1 !important;
    font-weight: 700 !important;
}

.mat-tab-label {
    min-width: 20% !important;
}

.mat-tab-label-active {
    box-shadow: 0 0 15px rgb(208, 216, 226);
}


/* .mat-placeholder-required{
    color: red !important;
} */

input[type=file] {
    background: #fff;
}

.edit_btn {
    background: #457b9e;
    border: 1px solid #0b7d79;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    width: 27px;
    height: 23px;
    padding: 0px !important;
}

.delete_btn {
    background: #da524e;
    border: 1px solid #da524e;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    width: 27px;
    height: 23px;
    padding: 0px !important;
}

.view_btn {
    background: #148bda;
    border: 1px solid #148bda;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    width: 27px;
    height: 23px;
    padding: 0px !important;
}

.followup_btn {
    background: #09b59d;
    border: 1px solid #06a6a5;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    width: 27px;
    height: 23px;
    padding: 0px !important;
}

.export_btn {
    font-weight: 700 !important;
}

.download_btn {
    background: #0a8787;
    border: 1px solid #0a8787;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    width: 27px;
    height: 23px;
    padding: 0px !important;
}

.bgwhite {
    background: #fff;
    padding: 5px;
}

.card-profile,
.card-testimonial {
    text-align: center;
    background: #fff;
    padding: 20px;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.25);
}

.card-profile .btn-just-icon.btn-raised,
.card-testimonial .btn-just-icon.btn-raised {
    margin-left: 6px;
    margin-right: 6px;
}

.card-profile .card-avatar,
.card-testimonial .card-avatar {
    max-width: 150px;
    max-height: 150px;
    margin: 0px auto 0;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.card-profile .card-avatar+.content,
.card-testimonial .card-avatar+.content {
    margin-top: 15px;
}

.card-profile.card-plain .card-avatar,
.card-testimonial.card-plain .card-avatar {
    margin-top: 0;
}

.mat-select-panel {
    margin-top: 37px !important;
}

.ng-trigger .ng-trigger-transformPanel .mat-select-panel {
    margin-top: 88px !important;
}

.sightseeting_list {
    margin-left: -10px;
    margin-right: 10px;
}

.sightseeting_list li {
    margin-top: 10px;
}


/* input[type="file"] {
    display: none;
} */

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.star-container:focus {
    outline-color: transparent !important;
}

.accent {
    color: #5dade0;
    cursor: pointer;
}

.extra-fields {
    border: 1px dotted #e0dbdb;
    margin: 0px 15px 10px;
}

.extra-fields-close {
    background: #ffffff;
    z-index: 9999;
    position: absolute;
    border-radius: 50%;
    right: 15px;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    padding: 0px 5px;
    margin-top: -10px;
    color: #2e3d50;
    font-weight: 100;
    border: 1px solid #a3aec5;
}


/* .mat-sort-header-button{
    font-weight: 700 !important;
    color: #000 !important;
    font-size: 13px !important;
    font-family: "Nunito Sans", sans-serif !important;
} */

.rating {
    outline: 0 !important;
}

.starrating {
    margin-top: 5px;
}

.cdk-global-scrollblock {
    height: auto;
}

.cdk-overlay-container {
    z-index: 10000 !important;
}

sticky {
    position: fixed;
}

.sticky_bg {
    width: 85%;
    box-shadow: 5px 5px 7px #8ca2af;
}

.cal-month-view .cal-out-month .cal-day-badge,
.cal-month-view .cal-out-month .cal-event {
    opacity: 0.3 !important;
}

.sticky-display {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.sticky_style {
    /* transform: rotate(2deg); */
    /* box-shadow: 5px 5px 7px #8ca2af; */
    margin-top: 5px;
    outline: 0;
}


/* .sticky_style :focus{
    transform: scale(1.25);
} */

.sticky_style .fa {
    padding: 5px;
    float: right;
    color: #6d7278;
}

.sticky_style textarea {
    width: 100%;
    outline: 0 !important;
    padding-left: 10px;
}

.sticky_title {
    font-weight: 700;
    font-size: 19px
}

textarea ::placeholder {
    opacity: 0.5;
}

.mat-cell,
.mat-header-cell {
    padding: 2px;
}

.menu-item.has-sub {
    cursor: pointer;
}

#chart .card-wrap .card-content {
    padding: 5px !important;
}

.chart_btn {
    box-shadow: none !important;
    background: transparent !important;
    color: #2e3d50 !important;
}


/* calander */

.btn_calender {
    padding: 10px !important;
}

.cal-month-view .cal-day-cell {
    min-height: 30px !important;
}

.cal-month-view .cal-cell-top {
    min-height: 30px !important;
    cursor: pointer;
}

.cal-month-view .cal-day-number {
    font-size: 13px !important;
    opacity: 1 !important;
}

.cal-month-view .cal-day-cell.cal-out-month .cal-day-number {
    opacity: 0.1 !important;
}

.cal-day-cell .cal-today .cal-day-number {
    font-size: 13px !important;
    font-weight: 700 !important;
}

.cal-month-view .cal-event {
    width: 8px !important;
    height: 8px !important;
}

.cal-month-view .cal-day-badge {
    display: none !important;
}

.cal-month-view .cal-events {
    z-index: 99;
    position: absolute;
    bottom: 0;
}

.cal-month-view .cal-day-cell.cal-in-month.cal-has-events {
    position: relative;
}

#calender .card-content {
    padding: 0px 10px 10px !important;
}


/* .cal-month-view .cal-out-month .cal-day-badge,
.cal-month-view .cal-out-month .cal-event {
  margin-bottom: 10px !important;
  opacity: 0 !important;
} */

.cal-month-view .cal-out-month .cal-day-badge,
.cal-month-view .cal-out-month .cal-event {
    margin-bottom: 10px !important;
    /* opacity: .5 !important; */
    display: none !important;
}


/* modal */

.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.8;
    filter: alpha(opacity=20);
}

.close:hover,
.close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

button.close {
    cursor: pointer;
    background: none;
    border: 0;
    -webkit-appearance: none;
    padding: 1px 7px;
    border-radius: 50%;
}

.modal-open {
    overflow: hidden;
}

.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.modal.fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
    top: 200px;
}

.modal-content {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #999999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000000;
}

.modal-backdrop.fade {
    opacity: 0.5;
    filter: alpha(opacity=0);
}

.modal-backdrop.in {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.modal-header {
    padding: 15px;
    /* border-bottom: 1px solid #e5e5e5; */
    /* min-height: 9.428571px; */
    background: linear-gradient(90deg, #2e3d50, #3e6392);
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-header .close {
    margin-top: 4px;
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
}

.modal-body {
    position: relative;
    padding: 15px;
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: none;
}

.modal-footer .btn+.btn {
    margin-left: 5px;
    margin-bottom: 0;
}

.modal-footer .btn-group .btn+.btn {
    margin-left: -1px;
}

.modal-footer .btn-block+.btn-block {
    margin-left: 0;
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

.clickable {
    cursor: pointer;
}

.mat-checkbox-inner-container {
    width: 15px !important;
    height: 15PX !important;
    /* // margin-right: 4px; */
}

.owl-dt-timer-content .owl-dt-timer-input {
    margin-top: 13px;
}

.nodata_bg {
    text-align: center;
    padding: 20px 0px;
    background: #eee;
}

.mat-tab-body-content {
    overflow: hidden !important
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }
    .modal-sm {
        width: 300px;
    }
}

@media (min-width: 992px) {
    .modal-lg {
        width: 600px;
    }
}

.clearfix:before,
.clearfix:after,
.modal-footer:before,
.modal-footer:after {
    content: " ";
    display: table;
}

.clearfix:after,
.modal-footer:after {
    clear: both;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.mat-table {
    overflow: auto;
}

table .mat-checkbox-layout .mat-checkbox-label {
    color: #292b2c !important;
}

.mat-sort-header-button {
    font-family: "Open Sans", sans-serif !important;
    font-weight: 700 !important;
    color: #506075 !important;
    font-size: 14px !important;
    float: left;
}

.mat-header-cell {
    font-family: "Open Sans", sans-serif !important;
    font-weight: 700 !important;
    color: #506075 !important;
    font-size: 14px !important;
}

.mat-header-cell label {
    font-family: "Open Sans", sans-serif !important;
    font-weight: 700 !important;
    color: #506075 !important;
    font-size: 14px !important;
}

.mat-row {
    min-height: 40px !important;
}

.mat-cell {
    font-size: 13px !important;
}

.alert {
    padding: 8px 10px !important;
    border-bottom: 1px solid #d5dee4 !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    padding: 1.04761907rem 1.5714286rem;
    position: relative;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0), 0 2px 2px 0 rgba(0, 0, 0, 0), 0 1px 5px 0 rgba(0, 0, 0, 0.05);
}

.card-wrap .card-content {
    padding: 15px !important;
}

.all_span {
    position: absolute;
    cursor: pointer;
    padding: 10px;
    line-height: 0px;
    /* color: #146da7; */
    color: #666666;
    font-weight: 700;
    font-size: 13px;
    text-decoration: underline;
}

.input-group .form-control,
.input-group-addon,
.input-group-btn {
    display: table-cell;
}

.daterangepicker.dropdown-menu {
    max-width: none;
    z-index: 3001;
    border: 1px solid #ccc !important;
}


/* alex modified for table hide and show for empty data */

.show-Table-Data {
    display: block
}

.hide-Table-Data {
    display: none
}


/* class end here */

a.cke_button {
    padding: 4px 5px !important;
}


/* for chat app */

.cdk-overlay-pane {
    z-index: 1 !important;
}

.mat-menu-content {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.mat-menu-item {
    font-size: 15px !important;
    cursor: pointer !important;
    line-height: 37px !important;
    height: 40px !important;
}

#additional-navbar .mat-tab-label {
    height: 40px !important;
    padding: 0 10px !important;
    width: 100%;
}

.mt_1 {
    margin-top: -9px;
}

.cdk-overlay-pane {
    z-index: 1001 !important;
}


/* chat app css ends here */

@media only screen and (max-width: 1024px) and (min-width: 769px) {
    .cal-month-view .cal-cell-top {
        min-height: 15px !important;
    }
    .cal-month-view .cal-day-number {
        margin-top: 3px !important;
        margin-right: 7px !important;
    }
}

@media only screen and (max-width: 1023px) {
    sticky {
        position: sticky;
    }
    .card-wrap .card-content {
        padding: 10px !important;
    }
}

@media only screen and (min-width: 768px) and (max-width:789px) {
    .sticky_bg {
        width: 110%;
    }
}

@media only screen and (min-width: 1025px) {
    .sticky_bg {
        width: 90%;
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

@media only screen and (max-width: 375px) {
    .form-head {
        display: flex;
    }
}


/* hidden classes */

@media (max-width:767px) {
    .hidden-xs {
        display: none!important
    }
    .mat-cell,
    .mat-header-cell {
        flex: 1;
        overflow: initial;
        word-wrap: break-word;
        min-width: 100px;
        width: 100px;
    }
    .mat-header-row,
    .mat-row {
        display: inline-flex !important;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .hidden-sm {
        display: none!important
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .hidden-md {
        display: none!important
    }
}

@media (min-width:1200px) {
    .hidden-lg {
        display: none!important
    }
}

@media (max-width: 1024px) {
    .nav-item .mat-form-field-infix {
        width: 142px !important;
    }
}

@media (min-width: 768px) {
    .mob-item .modal-dialog {
        width: 700px !important;
        margin: 30px auto;
    }
    .mob-item .modal-body {
        padding: 15px 0px !important;
    }
}

.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    font-size: .875rem;
    word-wrap: break-word;
    opacity: 0;
    max-width: 200px;
    min-width: 200px;
    padding: .25rem .5rem;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: .25rem;
}

.tooltip.show {
    opacity: .9;
}

.bs-tooltip-auto[x-placement^=top],
.bs-tooltip-top {
    padding: .4rem 0;
    margin-top: -5px;
}

.tooltip .arrow:before {
    position: absolute;
    content: "";
    border-color: transparent;
    border-style: solid;
}

.bs-tooltip-auto[x-placement^=top] .arrow:before,
.bs-tooltip-top .arrow:before {
    top: 0;
    border-width: .4rem .4rem 0;
    border-top-color: #000;
}

.tooltip .arrow {
    position: absolute;
    display: block;
    width: .8rem;
    height: .4rem;
}

.bs-tooltip-top .arrow,
.bs-tooltip-bottom .arrow {
    top: 100%;
    left: calc(50% - 0.9rem) !important;
}

.chart-icons {
    cursor: pointer;
    color: #d2d6de;
}

.chart-icons:hover {
    cursor: pointer;
    color: #4ed6cb;
}

.active {
    /* color: #2bbdb1; */
}

.border_top1 {
    border-top: 3px solid #2ecc71 !important;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.border_top2 {
    border-top: 3px solid #ec420e !important;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.border_top3 {
    border-top: 3px solid #f39c12 !important;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.border_top4 {
    border-top: 3px solid #01c0c8 !important;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.border_top5 {
    border-top: 3px solid #9ea720 !important;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.callout.callout-info {
    border-color: #0097bc;
}

.callout.callout-default {
    border-color: #c9d2d4;
}

.callout {
    border-radius: 3px;
    margin: 0 0 10px 0;
    padding: 1px 15px 1px 15px;
    border-left: 5px solid #eee;
    cursor: pointer;
}

.callout.callout-info,
.callout.callout-danger,
.callout.callout-warning,
.callout.callout-success {
    background-color: #fff !important;
    color: #525252 !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

.nastock .mat-checkbox-layout .mat-checkbox-label {
    color: #2a496b;
    font-weight: 500;
    font-size: 14px;
    margin-right: 20px;
}

.nastock .mat-checkbox {
    margin-top: 0px;
}

.c-inline-editor .inline-editor-button-group {
    display: none !important;
}

@media (max-width:1024px) {
    #reports_style .card-content {
        font-size: 12px;
    }
    #reports_style .card-wrap .card-content {
        padding: 12px !important;
    }
}
.box1 .card-wrap{
    /* background-color: #16a085!important; */
    background: linear-gradient(45deg,#16a085,#8bd8c9) !important;
    color: #fff!important;
}
.box2 .card-wrap{
    background: linear-gradient(45deg,#FF5370,#ff869a) !important;
    color: #fff!important;
}
.box3 .card-wrap{
    /* background-color: #418bca!important; */
    background: linear-gradient(45deg,#418bca,#6aa7da) !important;
    color: #fff!important;
}
.box4 .card-wrap{
    /* background-color: #3f4e62!important; */
    background: linear-gradient(45deg,#3f4e62,#7596c0) !important;    
    color: #fff!important;
}
.comn_border_top {
    /* border-top: 3px solid #93bee2 !important; */
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    margin: 0 0 0 0 !important  ;
    padding: 0 0 0 0;
}
.progress-bar1 .mat-progress-bar-fill::after {
    background-color: #50bca7 !important;
}
.progress-bar2 .mat-progress-bar-fill::after {
    background-color: #FF5370 !important;
}
.progress-bar3 .mat-progress-bar-fill::after {
    background-color: #418bca !important;
}
.progress-bar4 .mat-progress-bar-fill::after {
    background-color: #3f4e62 !important;
}
.progress-bar1 .mat-progress-spinner circle {
    stroke: #50bca7 !important;
}
.progress-bar2 .mat-progress-spinner circle {
    stroke: #FF5370 !important;
}
.progress-bar3 .mat-progress-spinner circle {
    stroke: #418bca !important;
}
.filter_btn{
    top: 6px;
    color: #6886ab;
    background: #d1e6fb;
    cursor: pointer;
}
.filter{
    margin-top: -10px;
    /* border: 1px solid #eee; */
    color: #6886ab;
    margin-left: 15px;
    padding-bottom: 7px;
    padding-left: 0px;
}


/* Rohan edit start here */
.mat-raised-button.mat-accent{
    
}
#mygen{
    background-color: #f16726 !important;
}
#myg .carousel {
    position: relative;
    margin-top: 78px !important;
}
@media (max-width: 767px) {
    #myg .carousel {
        position: relative;
        margin-top: 0px !important;
    }
}
#myg .line {
    background: #f16726 !important;
}
#myg .card-wrap .card-header {
    
    background: #fd8953 !important;
}
#myg .mat-raised-button.mat-primary {
    background-color: #cc4b0f !important;
}
#myg ::-webkit-scrollbar-thumb {
    background-color: #5d3a29 !important;
}
/* #loginn label {
    color: #000000 !important;
} */
#myg label {
    color: #000000 !important;
}
#myg .mat-form-field-ripple {
    background-color: #2a496b !important;
}
#myg .mat-select-arrow {
    color: rgba(0, 0, 0, 0.54) !important;
}
    
/* Slider */
/* img{
	min-width: 100%;
}
.sr-only{
	position: absolute;
	left: -9999999px;
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
} */
carousel start
.carousel {
  position: relative;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: .6s ease-in-out left;
       -o-transition: .6s ease-in-out left;
          transition: .6s ease-in-out left;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  line-height: 1;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner > .item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
         -o-transition:      -o-transform .6s ease-in-out;
            transition:         transform .6s ease-in-out;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
    left: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  .carousel-inner > .item.next.left,
  .carousel-inner > .item.prev.right,
  .carousel-inner > .item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}
.carousel-inner > .active {
  left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner > .next {
  left: 100%;
}
.carousel-inner > .prev {
  left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}
.carousel-inner > .active.left {
  left: -100%;
}
.carousel-inner > .active.right {
  left: 100%;
}
.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  filter: alpha(opacity=50);
  opacity: .5;
}
.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control:hover,
.carousel-control:focus {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: 0;
  opacity: .9;
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%;
  margin-left: -10px;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%;
  margin-right: -10px;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  font-family: serif;
  line-height: 1;
}
.carousel-control .icon-prev:before {
  content: '\2039';
}
.carousel-control .icon-next:before {
  content: '\203a';
}
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 10px;
}
.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #fff;
}
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.carousel-caption .btn {
  text-shadow: none;
}
@media screen and (min-width: 768px) {
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    font-size: 30px;
  }
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .icon-prev {
    margin-left: -15px;
  }
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-next {
    margin-right: -15px;
  }
  .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
  }
  .carousel-indicators {
    bottom: 20px;
  }
}
.mat-select-panel .mat-optgroup-label, .mat-select-panel .mat-option {
    font-size: inherit;
    line-height: 3em;
    height: 2.9em;
    border-bottom: 1px solid #eee;
}
.mat-option:hover:not(.mat-option-disabled), .mat-option:focus:not(.mat-option-disabled) {
    background: rgb(255, 255, 255) !important;
    color: #19819a !important;
    border-left: 3px solid #4ea3da;
    font-weight: 500;
}
.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
    color: #19819a !important;
}
@media (min-width: 1200px){

    .container-fluid {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    }
    
.c3charts .card-wrap .card-content {
    height: 275px;
}
                                                                      /* mat-radio-button */
  .unique-radio-button .mat-radio-inner-circle {
    background-color: #5daee06c !important;
    z-index: 0 !important;
  }
  .unique-radio-button .mat-radio-outer-circle {
      display: none;
  }
  .unique-radio-button .mat-radio-ripple{
      display: none;
  }
  .unique-radio-button .mat-radio-inner-circle {
    border-radius: 0% !important; 
    box-sizing: border-box !important;
    height: 68px !important;
    left: -19px !important;
    position: absolute;
    top: -25px !important;
    transition: transform ease 280ms,background-color ease 280ms;
    width: 141px !important;
    transform: scale(.001);
}
 .unique-radio-button .mat-radio-label-content {
    display: inline-block;
    order: 0;
    line-height: inherit;
    padding-left: 0px !important;
    padding-right: 18px !important;
    z-index: 1000 !important;
}

.close{
    font-weight: 500 !important;
}
.close:hover, .close:focus {
  color: #ffffff !important;
}
/* Chart modal */
#chart_modal button.close{
    padding: 0px 10px;
    background: transparent;
}
#chart_modal .close {
    margin-top: 2px;
}
@media (min-width: 992px) {
    #chart_modal .modal-lg {
      width: 60% !important;
    }
  }
  
  @media (min-width: 768px) {
    #chart_modal .modal-dialog {
      width: 95%;
      margin: 30px auto;
    }
  }
  
  #chart_modal .example-container.mat-elevation-z8 {
    overflow-x: auto;
  }
  
  #chart_modal .example-container .mat-table.mat-table {
    min-width: 450px;
  }
  #chart_modal .modal-footer{
    text-align: initial;
    color: #5c708c;
    padding: 10px 22px 25px;
    background: #eee;
  }
  /* #chart_modal .modal-dialog{
      top: 40px;
  } */
  #chart_modal .mat-elevation-z8{
      box-shadow: none !important;
      /* max-height: 500px; */
  }
  #chart_modal .mat-table.mat-table {
      max-height: 410px;
  }
  #chart_modal .cellstyl{
    color: #000;
     /* font-weight: 600; */
     font-size: 15px !important;
    /* text-align: center; */
  }
  .modal-title {
    color: #FFFFFF !important;
    font-size: 16px !important;
    font-weight: 400 !important;
}
#chart_modal .mat-header-row, .mat-row{
    padding: 0 10px !important;
}
#chart_modal .mat-header-row{
position: sticky;
top: 0px;
background: white;
z-index: 9999;
}
#chart_modal .mat-sort-header-container {
    display: inline-block;
}
#employeesectiontab .mat-tab-label{
    width: 100%;
}
.swal2-container{
    z-index: 10000 !important;
}
#productspec .ngx-dropdown-list-container {
    position: relative !important;
    background: #f3faff;
    box-shadow:none;
    margin-bottom: 3px;
}
#productspec .ngx-dorpdown-container button{
    border: none;
}
#productspec .ngx-dorpdown-container  .nsdicon-angle-down{
    right: 70%;
    background: #337ab7;
    color: white;
    padding: 0px;
    width: 20px;
    height: 21px;
    border-radius: 2px;
    box-shadow: 0 3px 10px rgb(188, 217, 255);
}
#productspec .nsdicon-angle-down:before {
    content: "\002B";
}
#productspec .ngx-dropdown-button {
     padding: 5px 10px 5px 0px;
 }