<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body">
              <h3 class="card-title">Product List</h3>
              <!-- <h6 class="card-subtitle">Smart data table library with sorting, filtering, pagination & add/edit/delete functions.</h6> -->
              <div class="table table-responsive smart-table">
                  <ng2-smart-table [settings]="settings" [source]="source" class="" (deleteConfirm)="onDeleteConfirm($event)" (custom)="onEdit($event)"
                  ></ng2-smart-table>
              </div>
          </div>
      </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>