<div class="card">
    <div class="card-body">
        <h4 class="formhead"> <i class="mdi mdi-briefcase"></i>&nbsp;Add Hierarchy</h4>
    </div>
    <div class="col-md-3 mt-1">
        
        <mat-form-field class="select mt-4">
            <mat-select placeholder="Department" [(ngModel)]="department" (ngModelChange)="departmentSelected(department)">
              <mat-option *ngFor="let dep of lstDepartment" [value]=dep.pk_bint_id>{{dep.vchr_code | uppercase}}-{{dep.vchr_name | titlecase}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

   <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="Level">
        <th mat-header-cell *matHeaderCellDef> Level </th>
        <td mat-cell *matCellDef="let element"> {{element.vchr_name}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> <mat-form-field class="example-chip-list">
    <mat-label>Level Groups</mat-label>
    <mat-chip-list #chipList aria-label="Group selection">
        <mat-chip *ngFor="let data of levelNames[element.vchr_name]" [selectable]="selectable"
                [removable]="removable" (removed)="remove(data,element['vchr_name'])">
        {{data}}
        <span matChipRemove *ngIf="removable"  class="fa fa-times"></span> 
        </mat-chip>
        <input placeholder="New Group..."
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event,element['vchr_name'])">
    </mat-chip-list>
    </mat-form-field> </td>
    </ng-container>

    

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="row mt-4">
        <div class="col-xl-2 col-md-6">
          <div class="row">
            <div class="col-xl-6 col-md-6">
              <button *ngIf="!blnUpdate" class="mat-accent mat-raised-button" style="background: #5dade0;color:#fff;" (click)="levelSave()">
                SAVE
              </button>
            </div>
          </div>
        </div>
    </div>
    
    
</div>