<!-- edit user div -->
<div class="card">
  <div class="card-body">
    <div *ngIf="dataLoaded" class="col-md-12 col-lg-12">
      <div>
        <form>
          <h3 class="form-head">Edit user</h3>
          <div class="row mt-3">
            <div class="col-md-4">
              <mat-form-field>
                <input pattern="[a-zA-Z\s]*$" [formControl]="form.controls['fname']" required [(ngModel)]="strFirstname"
                  name="first" matInput placeholder="First name">
                <mat-error *ngIf="form.controls['fname'].hasError('required')">
                  firstname required
                </mat-error>
                <mat-error *ngIf="form.controls['fname'].errors?.pattern">
                  alphabets and spaces only allowed
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="mat-icon-left">
                <input pattern="[a-zA-Z\s]*$" [formControl]="form.controls['lname']" required [(ngModel)]="lastname"
                  name="lastname" matInput placeholder="Last name">
                <mat-error *ngIf="form.controls['lname'].hasError('required') ">
                  last name required
                </mat-error>
                <mat-error *ngIf="form.controls['lname'].errors?.pattern">
                  alphabets and spaces only allowed
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field>
                <input [formControl]="form.controls['email']" [(ngModel)]="email" name="email" matInput
                  placeholder="E-mail">
                <mat-error *ngIf="form.controls['email'].errors?.email && form.controls['email'].touched">
                  invalid email
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="mat-icon-left">
                <input [formControl]="form.controls['phone']" type="number" required [(ngModel)]="contactno"
                  name="contactno" matInput placeholder="Contact no.">
                <mat-error *ngIf="form.controls['phone'].hasError('required') ">
                  phone required
                </mat-error>
                <mat-error *ngIf="form.controls['phone'].errors?.number && form.controls['phone'].touched">
                  Numbers only allowed
                </mat-error>
                <mat-error *ngIf="form.controls['phone'].errors?.min && form.controls['phone'].touched">
                  requires minimum 10 digits
                </mat-error>
                <mat-error *ngIf="form.controls['phone'].errors?.max && form.controls['phone'].touched">
                  maximum 12 digits allowed
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field>
                <mat-select name="group" required [(ngModel)]="strGroupSelected" placeholder="Group"
                  (ngModelChange)="onChangeGroup($event)">
                  <mat-option *ngFor="let item of lstGroup" [value]="item.id">{{item.groupname}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field>
                <input matInput placeholder="Branch*" [formControl]="searchBranch" [matAutocomplete]="branchname"
                  [(ngModel)]="strSelectedBranch" #brandId>
                <mat-autocomplete #branchname="matAutocomplete">
                  <mat-option *ngFor="let item of lstBranch" [value]="item.branchname"
                    (onSelectionChange)="BranchChanged(item)">
                    {{ item.branchname }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <!-- new  multi select -->
            <div class="col-md-3 mt-4">
              <ngx-select-dropdown ngDefaultControl [config]="priceConfig" [ngModelOptions]="{standalone: true}"
                [options]="priceOptions" [(ngModel)]="lstPrice" [multiple]="true"></ngx-select-dropdown>
            </div>
            <!-- multiselect dropdown for selecting branches type wise -->
            <div class="col-md-3 mt-4">
              <ngx-select-dropdown (change)="branchTypeChanged($event)" ngDefaultControl [config]="branchTypeConfig" [ngModelOptions]="{standalone: true}"
                [options]="branchTypeOptions" [(ngModel)]="lstBranchType" [multiple]="true"></ngx-select-dropdown>
            </div>
            <!-- end -->
            <div class="col-md-3 mt-4">
              <ngx-select-dropdown [disabled]="blnSalesCounter" ngDefaultControl [config]="config" [ngModelOptions]="{standalone: true}"
                [options]="dropdownOptions" [(ngModel)]="lstIds" [multiple]="true"></ngx-select-dropdown>
            </div>
            <div class="col-md-3 mt-4">
              <ngx-select-dropdown ngDefaultControl [config]="itemGroupconfig" [ngModelOptions]="{standalone: true}"
                [options]="itemGroupOptions" [(ngModel)]="itemGroupDropDown" [multiple]="true"></ngx-select-dropdown>
            </div>
            <div class="col-md-3 mt-4">
              <ngx-select-dropdown ngDefaultControl [config]="Productconfig" [ngModelOptions]="{standalone: true}"
                [options]="ProductOptions" [(ngModel)]="ProductDropDown" [multiple]="true"></ngx-select-dropdown>
            </div>
            <!-- new multiselect end -->

            <div class="col-md-12">
              <div class="row">
                <div class="col-md-2 col-lg-2 mt-3">
                  <mat-checkbox class="mt-4" name="sms" [(ngModel)]="blnPromoter"> Promoter</mat-checkbox>
                </div>
                <div class="col-lg-6 col-md-4" *ngIf="blnPromoter">
                  <mat-form-field class="mat-icon-left">
                    <input matInput required placeholder="Brand " [(ngModel)]="selectedBrand" name="brand"
                      [formControl]="searchBrand" [matAutocomplete]="brand">
                    <mat-autocomplete #brand="matAutocomplete">
                      <mat-option *ngFor="let item of lstBrand" [value]="item.brandname"
                        (onSelectionChange)="brandChanged(item)">
                        {{ item.brandname }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
                <div class="col-md-4 mt-3">
                  <input type="file" id="userImage" (change)="onChange($event)" (cuechange)="onChange($event)"
                    class="input-file" id="InputFile" name="InputFile" #eventImg accept="image/jpeg"
                    max-file-size="100kb" />
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-12">
                <button class="btn save_btn mt-2 m-r-10" (click)="updateUserData()">Update</button>
                <button class="btn btn-secondary cancel_btn mt-2" (click)="canceledit()">Cancel</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div>
        <form>
          <div class="clearfix"></div>
          <h4 class="form-head mt-4">Reset password</h4>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="mat-icon-left">
                <input type="password" [formControl]="form.controls['password']" required [(ngModel)]="password"
                  name="password" matInput placeholder="New password">
                <mat-error *ngIf="form.controls['password'].hasError('required')">
                  password required.
                </mat-error>
                <mat-error *ngIf="form.controls['password'].hasError('minlength')">
                  minimum 8 characters required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="mat-icon-left">
                <input type="password" [formControl]="form.controls['confirmPassword']" required
                  [(ngModel)]="confirmPassword" name="confirmPassword" matInput placeholder="Confirm password">
                <mat-error *ngIf="form.controls['confirmPassword'].errors?.equalTo">
                  Passwords do not match.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button class="btn save_btn mt-2 m-r-10" (click)="updateUserPassword()">Update</button>
                <button class="btn btn-secondary cancel_btn mt-2" (click)="canceledit()">Cancel</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>