/* .total {
    background: #678ecf;
} */
:host ::ng-deep tr.total {
    color: #678ecf;
    font-weight: 600;
    }
:host ::ng-deep tr.other {
    background: transparent;
    }
.align {
float: right;
}