<div class="row">
  <div class="col-12" *ngIf="dataLoaded">
      <div class="card">
          <div class="card-body">
              <h4 class="card-title"> List Coupon</h4>
              <!-- <h6 class="card-subtitle">Smart data table library with sorting, filtering, pagination & add/edit/delete functions.</h6> -->
              <div>
                  <div class="table table-responsive smart-table">
                      <ng2-smart-table [settings]="settings" [source]="source" class="" (deleteConfirm)="onDeleteConfirm($event)" (custom)="onCustomAction($event)"></ng2-smart-table>
                  </div>
              </div>
              <!-- <div *ngIf="source.length==0">
                    <span> No Data Found</span>
            </div> -->
          </div>
      </div>
  </div>
  <div class="col-12" *ngIf="!dataLoaded">
    <p>No Data</p>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
