<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"> Requested List</h4>
        <div class="row">
          <div class="card">
              <form class="form-inline">

                  <div class="col-md-3 col-lg-3">
                      <mat-form-field>
                        <input (click)="picker1.open()" id ="fromId" #startDate required readonly matInput [matDatepicker]="picker1" name="dateFrom" placeholder="From" [(ngModel)]="datFrom">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                      </mat-form-field>
                    </div>

                    <div class="col-md-3 col-lg-3">
                      <mat-form-field>
                        <input (click)="picker2.open()" id ="toId" #endDate required readonly matInput [matDatepicker]="picker2" name="dateTo" placeholder="To" [(ngModel)]="datTo">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2>
                        </mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="col-md-3">
                      <mat-form-field>
                        <input matInput placeholder="Branch" [formControl]="searchBranch" [matAutocomplete]="branchname" [(ngModel)]="selectedBranch" (ngModelChange)="branchNgModelChanged($event)" #branchId>
                          <mat-autocomplete #branchname="matAutocomplete">
                            <mat-option *ngFor="let item of lstBranch" [value]="item.name" (onSelectionChange)="BranchChanged(item)">
                              {{ item.name }}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                      </div>
                          

                    <!-- <div class="col-md-4">
                        <mat-form-field>
                            <input matInput type="number" placeholder="Mobile No" maxlength="10" [(ngModel)]="intPhone" name="no1" >
                        </mat-form-field>
                    </div> -->

                    <div class="col-md-3">
                      <button type="submit" class="btn save_btn m-r-10" (click)="listData()">Search</button>

                    </div>
               
              </form>
          </div>
      </div>
        <!-- <h6 class="card-subtitle">Smart data table library with sorting, filtering, pagination & add/edit/delete functions.</h6> -->
        <div *ngIf="data.length > 0" class="table table-responsive smart-table mt-3">
          <ng2-smart-table [settings]="settings" [source]="source" (custom)="onCustomAction($event)" class=""></ng2-smart-table>
        </div>
        <div class="nodata" style="margin-top:0px !important" *ngIf="data.length == 0"> No Data </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>