<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body">
              <h4 class="card-title"> GRN List</h4>
              <!-- <h6 class="card-subtitle">Smart data table library with sorting, filtering, pagination & add/edit/delete functions.</h6> -->
              <div class="card">
                    <form class="form-inline">

                        <div class="col-md-4 col-lg-4">
                            <mat-form-field>
                              <input (click)="picker1.open()" id ="fromId" #startDate required readonly matInput [matDatepicker]="picker1" name="dateFrom" placeholder="From" [(ngModel)]="datFrom">
                              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                              <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                          </div>

                          <div class="col-md-4 col-lg-4">
                            <mat-form-field>
                              <input (click)="picker2.open()" id ="toId" #endDate required readonly matInput [matDatepicker]="picker2" name="dateTo" placeholder="To" [(ngModel)]="datTo">
                              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                              <mat-datepicker #picker2>
                              </mat-datepicker>
                            </mat-form-field>
                          </div>

                          <!-- <div class="col-md-4">
                              <mat-form-field>
                                  <input matInput type="number" placeholder="Mobile No" maxlength="10" [(ngModel)]="intPhone" name="no1" >
                              </mat-form-field>
                          </div> -->

                          <div class="col-md-2">
                            <button type="submit" class="btn save_btn m-r-10" (click)="getData(datFrom,datTo,1)">Search</button>

                          </div>
                     
                    </form>
                </div>
              <div *ngIf="blnShowData" class="table table-responsive smart-table">
                  <ng2-smart-table [settings]="settings" [source]="pur_list_source" (custom)="onCustomAction($event)"></ng2-smart-table>
              </div>
              <div class="card nodata" *ngIf="!blnShowData">
                <div>NO DATA FOUND</div>
              </div>
          </div>
      </div>
     
  </div>
</div>

