.viewbtn{
    color: #ff3b00e0 !important;
    background: none;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgb(255 135 135);
    border-radius: 30px;
    border: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }