<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <h4 class="formhead"><i class="mdi mdi-timetable"></i>&nbsp;Late Hour Request</h4>
            </div>
        </div>
        <div class="row">
            <!-- <div class="row"> -->
            <div class="col-md-3">
                <mat-form-field class="example-full-width">
                    <input (click)="picker1.open()" matInput required readonly [matDatepicker]="picker1" placeholder="Date" [(ngModel)]="datApply">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>
            <!-- </div> -->

            <div class="col-md-2 mt-1">
                <mat-form-field>
                    <mat-label>Types *</mat-label>
                    <mat-select [(ngModel)]="intType" [disableOptionCentering]="true">
                        <mat-option *ngFor="let data of lstPolicyData" [value]="data.pk_bint_id">
                            {{ data.vchr_name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>




        </div>
        <div class="row">
            <div class="col-md-3 mt-2">
                <button type="submit" class="btn save_btn  mt-2 mr-3" (click)="saveData()">Save</button>
                <button type="submit" class="btn cancel_btn mt-2" (click)="clearFields()">Cancel</button>
            </div>
        </div>

    </div>
</div>
<ngx-spinner bdColor = "rgba(0,0,0,0.13)" size="default" color="#f77b36" type="ball-spin-clockwise"></ngx-spinner>