.heading{
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 0px;
}
.icon{
    position: absolute;
    left: 8px;
    top: 4px;
    background: white;
    border-radius: 50%;
    color: black;
    width: 20px;
    height: 20px;
    
  }
  .btn {
    height: 30px  !important;
    line-height: 7px !important;
    min-width: 82px;
}
  .fa-angle-left:before {
  
    content: "\f104";
    vertical-align: middle;
    
}