.icon{
    position: absolute;
    left: 8px;
    top: 4px;
    background: white;
    border-radius: 50%;
    color: black;
    width: 20px;
    height: 20px;
    
  }
  .btn {
    height: 30px  !important;
    line-height: 7px !important;
    min-width: 82px;
}
  .fa-angle-left:before {
  
    content: "\f104";
    vertical-align: middle;
    
}
ul { list-style: none outside none; margin:0; padding: 0; clear:both;  }
li { float: left;width: 16%;    line-height: 35px;}
/* ul :first-child{
    padding-left: 25px;
} */
li:hover{
    background: #eeeeee66;
    color: #2c9598;
}
/* li :last-child:hover{
    background: #fff;
    color: #2c4359;
} */
li:nth-child():hover { 
    background: #fff;
    color: #2c4359;
 }