.textlist{
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5714286;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
}

.textlistid{
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5714286;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    color: #909090 !important;
}
.img{
    width: 200px !important;
    height: 200px !important;
    object-fit: cover;
}
.label {
    color: rgb(77, 78, 80);
    padding: 8px;
    
  }
.success {background-color: #ecf7ff;} /* Green */