<div class="card">
  <div class="card-body">
    <div>
      <h3>User List
        <span class="float-right" *ngIf="blnAdd">
          <button class="adduser" mat-raised-button [routerLink]="['/user/adduser']">
            <i class="fa fa-user-plus" style="margin-right: 3px;" aria-hidden="true"></i> Add user</button>
        </span>
      </h3>
      <div class="example-header mt-3">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>
      <div class="example-container mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort>
          <!-- code Column -->
          <ng-container matColumnDef="username">
            <mat-header-cell *matHeaderCellDef mat-sort-header='username'> Code </mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.username}} </mat-cell>
          </ng-container>
          <!-- name Column -->
          <ng-container matColumnDef="fullname">
            <mat-header-cell *matHeaderCellDef mat-sort-header='fullname'> Name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.fullname|titlecase}}</mat-cell>
          </ng-container>
          <!-- phone Column -->
          <ng-container matColumnDef="bint_phone">
            <mat-header-cell *matHeaderCellDef mat-sort-header='bint_phone'> Phone </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.bint_phone }} </mat-cell>
          </ng-container>
          <!-- group Column -->
          <ng-container matColumnDef="fk_group__vchr_name">
            <mat-header-cell *matHeaderCellDef mat-sort-header='fk_group__vchr_name'> Group </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.fk_group__vchr_name|titlecase}} </mat-cell>
          </ng-container>
          <!-- action Column -->
          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.username">
              <button class="view_btn" (click)="viewUserData(row.user_ptr_id)" *ngIf="blnView">
                <i class="ti-eye text-info" aria-hidden="true"></i>
              </button>
              <button class="edit_btn" (click)="editUserData(row.user_ptr_id)" *ngIf="blnEdit">
                <i class="ti-pencil text-info" aria-hidden="true"></i>
              </button>
              <button class="delete_btn" (click)="deleteUserData(row.user_ptr_id)" *ngIf="blnDelete">
                <i class="ti-trash text-danger" aria-hidden="true"></i>
              </button>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
      </div>
    </div>
    <div class="col-md-2" >
           <button type="submit" class="btn save_btn m-r-10" (click)="exportData()" >Export</button>
          </div>
  </div>
</div>

